
  *{
    margin:auto;
    padding:auto;
    background-color: rgb(0, 0, 0);
  }

header{
    position:sticky;
    top:0;
    padding: 1rem 2rem;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0);
    background-color:rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    z-index:1;
    
  }

  header nav ul {
    display: flex;
    justify-content:stretch;
    list-style:none;
    margin:auto;
    padding:auto;
    padding-top: 1rem;
    padding-bottom:1rem;
    gap:5rem;
    overflow-x:auto;
  }

  a{
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;

  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

img,video{
    width:100%;
    height:auto;
    display:block;
}

  .knap{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 15px 25px 15px 25px;
    border: 3px solid #fdfdfd;
  }

  p{
    font-family: sans-serif;
    font-size: 20px;
    padding:30px;
    color: #ffffff;
  }

  h1,h2,h3{
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
  
  }

  .centered {
    text-align: center;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
      }